@tailwind base;
@tailwind components;
@tailwind utilities;


@layer  components {
    .box-shop {
        @apply mt-[14vh] lg:mt-[20vh]  flex flex-col lg:flex-row lg:w-full lg:flex-wrap lg:justify-start  lg:gap-x-7 lg:space-y-3 lg:px-[5vw] lg:py-[2vh];
    }

    .stick {
        position: sticky;
        top: 12vh;
        background-color: white;
        padding-top: 6vh;
        padding-bottom: 2vh;
        z-index: 39;
    }

    .addToCart {
        @apply w-[40vw] lg:ml-[1vw] lg:w-[13vw] h-[8vh] border-2 mt-[3vh] border-neutral-700 font-semibold text-lg rounded-2xl hover:rounded-[50%] hover:bg-titlePer hover:text-white  uppercase;
    }

    .select-size {
        @apply box-sizeing text-center;
    }

    .btn-snack {
        @apply  lg:border-violet-900 text-neutral-900 lg:text-lightPer w-[60vw] lg:ml-[1vw] lg:w-[13vw] h-[5vh] lg:h-[8vh] lg:border-2 border-4 lg:mt-[4vh] mt-[4vh] border-neutral-700 font-semibold lg:text-lg text-title-big1 rounded-2xl hover:rounded-[50%] hover:bg-titlePer hover:text-white;
    }
    .starRate{
        @apply object-cover w-[5vw] h-[5vh] lg:w-[1.5vw] lg:h-[1.5vw];
    }

    .title-text {
        @apply text-white font-bold text-title-big1 text-center lg:text-left lg:text-[1.3vw] px-7;
    }

    .botn {
        @apply w-[14vw] h-[8vh] border-2   font-semibold text-title-lit rounded-3xl ;
    }

    .box-post {
        @apply w-full box-border p-5 text-center lg:w-[20vw] ;
    }

    .geeks {
        overflow: hidden;
        margin: 0 auto;
    }

    .geeks img {
        width: 100%;
        transition: 0.5s all ease-in-out;
    }

    .face {
        @apply inline lg:w-12 lg:h-12 object-contain w-[14vw] hover:rotate-180;
    }

    .box-img {
        background-image: url("../img/back.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .bax-imgLg {
        background-image: url("../img/back.webp");
        background-repeat: no-repeat;
        background-size: initial;
        background-position: center;
    }

    .inputme {
        @apply rounded-bl text-center text-lg font-semibold py-1 px-3 ;
    }
}

@layer utilities {
    .cursorpointer > li {
        cursor: pointer;

    }

    .spanSearch {
        @apply border-b-2 border-gray-400;
    }

    .bod {
        border: 0.7px #2c2a2a solid;
    }

    #search {
        width: 15vw;
        margin-top: 0.4vh;
        border: none;
        background-color: #F3F4F6;
        outline: none;
        direction: rtl;
        padding: 2px 2px;

        font-size: 1.2vw;

    }

    .bg-img2 {
        background-image: url("../img/wave-0ab9dbd9.svg");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .sizemenu {
        @apply w-[5vw] h-[5vh] object-center ;
    }

    .box-sizeing {
        @apply bg-gray-200 text-lightPer text-lg  p-[2vh] rounded-xl hover:border-2 hover:border-violet-900
    }

    .bg-img {
        background-image: url("../img/topSectionSm-7d225c58.webp");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9ca3af;
    }

    .bg-imgLG {
        background-image: url("../img/topSectionLG-d32a63b3.jpg");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9ca3af;
    }

    .brand-size {
        @apply h-[11vh] w-[40vw] lg:w-[17vw] lg:h-[12vh] opacity-30 mt-[8vh] object-fill object-center ;
    }

    #bannerText {
        animation: moveing 3s ease-in-out infinite;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 0 4vw;

    }

    @keyframes moveing {
        from {
            opacity: 100%
        }
        to {
            opacity: 0;
        }
    }

    .geeks:hover img {
        transform: scale(1.1);
    }

    .fit {
        object-fit: contain;
        object-position: bottom;
    }

    .direct {
        direction: ltr;
        background-color: #412F59;
        color: #E2C7D6;
        height: 95vh;
        padding: 2vw 2vh;
    }

    .trans-post {
        transition: opacity 0.5s ease-in-out;
    }

    .direct > h4 {
        font-weight: bold;
        margin-top: 3vh;

    }
}